{% capture header_image %}
    {% if page.featured_image %}
        style="background-image: url('{{ page.featured_image }}');"
    {% elsif page.loop_image %}
        style="background-image: url('{{ page.loop_image }}');"
    {% elsif page.og_image %}
        style="background-image: url('{{ page.og_image }}');"
    {% endif %}
{% endcapture %}
<header class="jumbotron-landing-banner mt-md-3">
   <div class="container-fluid">
    <div class="row">
        <div class="col-md-6 order-md-2" {{ header_image }}>

        </div>
        <div class="col-md-6">
            <div class="container">
                <div class="row">
                    <div class="col-md-9 mx-auto">
                        {% if section.eyebrow %}
                        <p class="eyebrow bordered-headline bordered-headline-secondary text-white">
                            {{ section.eyebrow }}
                        </p>
                        {% endif %}
                        <h1 class="display-6 text-white">
                            {{ section.headline }}
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
   </div>
</header>