<section class="jumbotron-home">
    <div class="container">
        <div class="row">
            <div class="col-md-6 d-flex align-items-center py-4 py-md-6">
                <div>
                    <p class="eyebrow">
                        {{ section.eyebrow }}
                    </p>
                    <h1 class="display-4">
                        {{ section.headline }}
                    </h1>
                    <p class="mt-4 mb-0">
                        {% if section.cta_1 %}
                        <a href="{{ section.cta_1_url}}" class="btn btn-secondary me-md-1">
                            {{ section.cta_1}}
                        </a>
                        {% endif %}
                        {% if section.cta_2 %}
                        <a href="{{ section.cta_2_url}}" class="btn btn-outline-dark">
                            {{ section.cta_2 }}
                        </a>
                        {% endif %}
                    </p>
                </div>
            </div>
            <div class="col-md-6 image d-flex align-items-center mb-2 mb-md-0">
                <figure class="border-figure">
                    <img src="{{ section.image }}" alt="{{ site.title }} hero image">
                </figure>
                <div class="split one bg-{{ section.split_color }}"></div>  
                <div class="split two bg-{{ section.split_color }}"></div>  
            </div>
        </div>
    </div>
</section>