{% include /snippets/dark-mode.html %}

<section class="stat-block py-4  {{ background_color }}" {{ bg_dark_theme }}>
    <div class="container-fluid">
        {% if section.headline %}
        <div class="container mb-4">
            <div class="row align-items-end">
                {% if section.headline %}
                <div class="col-md-4">
                    <h2 class="bordered-headline-secondary bordered-headline">
                        {{ section.headline }}
                    </h2>
                </div>
                {% endif %}
                {% if section.content %}
                <div class="col-md-6 ms-auto">
                    <p>
                        {{ section.content }}
                    </p>
                </div>
            </div>
            {% endif %}
        </div>
        {% endif %}
        <div class="container">
            <div class="row">
                {% for stat in section.stats %}
                <div class="col-lg-4 mb-2">
                    <div class="tile">
                        <p class="display-6">
                            {{ stat.number }}
                        </p>
                        <p>
                            {{ stat.content }}
                        </p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>