.section-padding-y {
    padding-top: $grid-gutter-width;
    padding-bottom: $grid-gutter-width;
}

.section-padding-x {
    padding-left: $grid-gutter-width;
    padding-right: $grid-gutter-width;
}

.section-padding {
    @extend .section-padding-x;
    @extend .section-padding-y;
}

.card-slide-through {

    .tile {
        display: flex;
        flex-direction: column;
        text-decoration: none;
        color: $light;
        padding: $grid-gutter-width * .5;
        margin-bottom: $grid-gutter-width;
        transition: .3s all ease-in-out;

        h4 {
            color: $secondary;
            position: relative;
            display: inline-flex;
            align-items: center;

            span {
                font-family: $font-family-icons;
                margin-left: $spacer;
                color: rgba($white, .3);
                transition: .3s all ease-in-out;
            }

        }

        &:hover {
            background-color: $darker;

            h4 {
                color: $white;

                span {
                    margin-left: $spacer-2;
                    color: $secondary;
                }

            }

        }

    }


}

.stat-block-home {

    .tile {
        background-color: $light;
        text-align: center;
        padding: $grid-gutter-width;
        min-height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

}

.quote-1 {
    figure {
        height: 100%;
        min-height: 600px;
        padding: 0;
        margin: 0;
        overflow: hidden;
        position: relative;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        figcaption.tile {
            position: absolute;
            background-color: $light;
            padding: $grid-gutter-width;
            bottom: 10%;
            z-index: 10;
        }

    }

}

.stat-block {
    --tile-background: #{$light};
    --tile-headline: #{$dark};
    --tile-content-color: #{$body-color};

    h2 {
        color: var(--tile-headline);
    }

    p {
        color: var(--tile-content-color);
    }

    .tile {
        padding: $grid-gutter-width;
        text-align: center;
        background-color: var(--tile-background);
        min-height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        p {
            color: var(--tile-content-color);
        }

        .display-6, h2 {
            color: var(--tile-headline);
        }

        .display-6 {
            margin-bottom: 0;
        }

    }

    &.bg-light {
        --tile-background: #{$white};
    }

    &.bg-dark {
        --tile-background: #{$darker} !important;
        --tile-headline: #{$light} !important;
        --tile-content-color: #{$white} !important;
    }

}

.tabs-insights.desktop {
    position: relative;
    min-height: 900px;
    z-index: 1;

    @media screen and (max-width: $breakpoint-md) {
        display: none;
    }

    .image {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
    }

    .content-container {
        padding: $grid-gutter-width;
        max-width: 450px;
        min-height: 500px;
        background: rgba($black, .7);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        margin-bottom: $grid-gutter-width * 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .div-content {
        display: none;
        min-height: 900px;
        align-items: end;
        padding-top: $grid-gutter-width;
        padding-bottom: $grid-gutter-width;

        &.show {
            display: flex;
        }

    }

    .tabs {
        position: absolute;
        top: $spacer-4;
        left: 50%;
        transform: translateX(-50%);
        padding: $grid-gutter-width * .25;
        display: flex;
        flex-direction: row;
        background: rgba($black, .5);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);

        .tab-link {
            color: $white;
            text-transform: uppercase;
            font-size: 12px;
            text-decoration: none;
            padding: $grid-gutter-width;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all .3s ease-in-out;

            &.active {
                color: $dark;
                background-color: $light;
            }

        }

    }

}

.tabs-insights.mobile {
    --content-color: #{$body-color};
    --headline-color: #{$dark};

    display: none;

    @media screen and (max-width: $breakpoint-md) {
        display: flex;
    }

    .col-12 {
        margin-bottom: $grid-gutter-width;
    }

    h4 {
        color: var(--headline-color);
    }

    p {
        color: var(--content-color);
    }

    &.bg-dark, &.bg-primary {
        --content-color: #{$white};
        --headline-color: #{$white}; 
    }

}

.cta-callout {
    .cta-box {
        background-color: $darker;
        padding: $grid-gutter-width;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;

        h4, p {
            color: $white;
        }

    }
}