.card-slide-through {

    .tile {
        display: flex;
        flex-direction: column;
        text-decoration: none;
        color: $light;
        padding: $grid-gutter-width * .5;
        margin-bottom: $grid-gutter-width;
        transition: .3s all ease-in-out;

        h4 {
            color: $secondary;
            position: relative;
            display: inline-flex;
            align-items: center;

            span {
                font-family: $font-family-icons;
                margin-left: $spacer;
                color: rgba($white, .3);
                transition: .3s all ease-in-out;
            }

        }

        &:hover {
            background-color: $darker;

            h4 {
                color: $white;

                span {
                    margin-left: $spacer-2;
                    color: $secondary;
                }

            }

        }

    }


}

.stat-block-home {

    .tile {
        background-color: $light;
        text-align: center;
        padding: $grid-gutter-width;
        min-height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

}

.quote-1 {
    figure {
        height: 100%;
        min-height: 600px;
        padding: 0;
        margin: 0;
        overflow: hidden;
        position: relative;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        figcaption.tile {
            position: absolute;
            background-color: $light;
            padding: $grid-gutter-width;
            bottom: 10%;
            z-index: 10;
        }

    }

}