<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="/assets/js/script.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $(".div_open").on("click", function () {
            var target = $(this).data("div");

            $(".div-content").removeClass("show");
            $(".div-content[data-div='" + target + "']").addClass("show");
        });
    });
</script>
 <script>
    $(document).ready(function () {
        $(".tab-link").on("click", function () {
            var target = $(this).data("div");

            $(".tab-link").removeClass("active");
            $(".tab-link[data-div='" + target + "']").addClass("active");
        });
    });
</script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script>
$(function() {
	
	
	$('.motion-card').addClass('default');
	
	$('.motion-card').on('click', function() {
		var e = $('.motion-cards-insights > .motion-card');
		if ($(this).hasClass('expand')) {
			// If the clicked motion-card has 'expand', remove it
			$(this).removeClass('expand');
		} else {
			// Remove 'expand' from all motion-cards, then add to the clicked one
			e.removeClass('expand');
			$(this).addClass('expand');
		}
	});
	
});
</script>